.logo {
    font-style: italic;
    text-decoration: underline;
    text-shadow: 1px 1px #70b5cb;
    a {
        &:hover {
            color: unset !important;
        }
    }
}
.call {
    min-height: 40px;
    background-color: yellow;
    max-width: 270px;
    padding: 6px 9px;
    font-weight: 500;
    border-radius: 4px;
}
a {
    text-decoration: none !important;
    color: unset !important;
    font-weight: 600 !important;
    &:hover {
        color: #70b5cb !important;
    }
}
#basic-navbar-nav {
    a.active {
        color: #70b5cb !important;
    }
}
